/* Variables */
$dk-blue: #19528B;
$blue: #5C7CB1;
$pale-blue: #E3FBFF;
$green: #4B7B12;
$brt-yellow: #FFE888;
$yellow: #FAE797;
$palest-yellow: #FFFAC1;
$hero-mssg-bkgrd: rgba(25,82,139,.6);

/* Fonts */
$proxima: 'proxima-nova', sans-serif;
$freight: 'freight-sans-pro', sans-serif;
$lt: 300;
$reg-book: 400;
$med: 500;
$semi: 600;
$bold: 700;

/*** BODY STYLES ***/

body {
  font-family: $freight !important;
  font-weight: $reg-book;
  font-size: 22px;
}

a {
  font-weight: $semi;
}

#content {
  a {
    text-decoration: underline !important;
  }
  h1.entry-title {
    font-weight: $bold;
    background-color: $blue;
    padding: 10px 0 10px 100px;
    margin-right: 100px;
    margin-bottom: 30px;
  }
}

.entry-content h2, 
#content h2, h2{
  color: $green;
  margin-top: 5px;
  margin-bottom: -1px;
  font-size: 27px !important;
  font-family: $proxima;
  font-weight: $bold;
}

.entry-content h5,
#content h5, h5 {
  font-family: $proxima !important;
}
  

.img-fluid {
  max-width: 100%;
  height: auto;
}

.btn {
  text-align: center;
  font-family: $proxima;
  font-weight: $bold;
}

#forbottom {
  padding: 80px 0;
  background: #fff;
  ul, ol {
    margin-top: -20px;
    padding-top: 0;
  }
}

.entry-content {
  margin: 0 100px;
}

.entry-meta a:hover, 
.widget-container a:hover, 
.footer2 a:hover {
  border: none;
}

/* Header */

.searchform {
  border: $yellow 1px solid;
  input[type="search"] {
    height: 35px;
    border: none;
    padding-right: 40px;
  }
  .searchsubmit[type="submit"] {
    width: 40px;
    height: 37px;
    background-color: $yellow;
    color: $dk-blue;
  }
}
.searchform:after {
  background-color: #fff !important;
}

/* Header logos */
.yoyo > li {
  margin-bottom: 0;
}

.widget-container {
  .header-logos {
    margin-top: 10px;
    ul {
      list-style: none;
    }
    li {
      float: left;
    }
    a {
      display: block;
      border: none;
      margin-right: 40px;
    }
    a:hover,
    a:active,
    a:focus {
      border: none;
      color: none;
    }
    .coh-header-link {
      margin-top: 3px;
      width: 133px;
    }
    .dfci-header-link {
      width: 123px;
    }
  }
}

/* Main menu */
header {
  #access > .menu > ul {
    display: table;
    margin: 0 auto;
  }
  #access a:hover {
    color: $dk-blue;
  }
  #access ul > li a {
    font-size: 21px !important;
  }
  #access ul > li.current_page_item, 
  #access ul > li.current-menu-item, 
  #access ul > li.current_page_ancestor, 
  #access ul > li.current-menu-ancestor {
    background-color: $brt-yellow;
  }
  #access ul ul li.current_page_item, 
  #access ul ul li.current-menu-item, 
  #access ul ul li.current_page_ancestor, 
  #access ul ul li.current-menu-ancestor,
  #access ul ul li:hover {
    background: $brt-yellow;
    a:hover {
      color: #fff;
    }
  }
}

#access a > span {
  padding: 4px 30px 5px;
  text-transform: none;
  font-family: $proxima !important;
  font-weight: $med;
  letter-spacing: -0.002em;
}

#access {
  .current-menu-item a {
    color: $dk-blue;
  }
  .current-menu-item a > span {
    font-weight: $bold;
  }
}

#access > .menu > ul li > a:not(:only-child) > span::after {
  right: 5px;
  top: 7px;
}

/*** HOME ***/

/* Slider */
.slider-text-container {
  background-color: $hero-mssg-bkgrd;
  width: 500px;
  padding: 25px 50px;
  h1 {
    color: #fff;
    font-size: 1.6em;
    font-weight: $lt;
    line-height: 1.25em;
    margin-bottom: 50px;

  }
  .slider-btn {
    background: $brt-yellow;
    color: $dk-blue;
    margin: 30px auto;
    display: block;
    width: 75%;
    padding: 5px 20px;
    font-size: 1.3em;
  }
}

/* Homepage modules */

.ppcolumn {
  background-color: $brt-yellow;
  padding: 26px 40px;
  .column-image-inside {
    padding: 0;
  }
  .column-image-inside-centered {
    padding-top: 0;
  }
  h5.column-header-image {
    margin-top: 0;
    color: $dk-blue;
  }
  .column-text {
    text-align: center;
    .pres-col-text {
      color: #000;
      font-size: 1.0em;
      margin: 10px 0 27px;
    }
  }
}

.coldisplay2 .column-text {
  padding-left: 0;
  padding-right: 0;
}

#pp-afterslider {
  .column-image-inside-centered a {
    display: block;
  }
  h5 {
    font-size: 1.1em !important;
    font-weight: $semi;
    line-height: 1.1em;
    border-bottom: #fff 2px solid;
    padding-bottom: 30px;
  }
  .pres-col-btn {
    background: $dk-blue;
    color: #fff;
    font-size: 0.9em;
    font-weight: $semi;
    padding: 10px;
    width: 100%;
  }
}

/*** INSIDE PAGES ***/

/* Staff page */

.staff-content {
  margin: 10px;
  .staff-name {
    font-weight: $semi;
  }
  .staff-position {
    font-size: 0.9em;
    line-height: 1.3em;
  }
}

/* Sitemap */
#forbottom {
  .wsp-pages-list ul {
    margin-top: 0;
  }
}

/*** FOOTER ***/

footer {
  padding-top: 10px;
  padding-bottom: 100px;
  border-top: $blue 13px solid;
  margin-top: 0 !important;
}

.footerfour {
  display: flex;
  align-items: center;
}

.footer-logo {
  margin: 0 auto;
  text-align: center;
  img {
  }
}

.coh-footer-size {
  width: 178px;
}

.dfci-footer-size {
  width: 152px;
}

.baylor-footer-size {
  width: 66px;
}

.below-footer {
  color: $dk-blue;
  font-size: 0.9em;
  text-align: center;
  margin-top: 30px;
  a { 
    color: $dk-blue;
    font-weight: $reg-book;
    text-decoration: underline !important;
  }
  ul {
    display: inline-block;
    margin-bottom: 20px;
  }
  .footer-menu {
    li { 
      float: left;
      border-left: $dk-blue 1px solid;
      padding: 0 13px;
      line-height: 1.1em;
    }
    li:first-child { 
      border: none;
    }
  }
  .footer-copyright {
    font-size: 0.8em;
  }
}

@media (max-width: 1140px) and (min-width: 801px) {
  #front-columns > div, #front-columns > li {
    width: 46.75% !important;
  }
  #header-widget-area {
    width: 40% !important;
  }
}

@media (max-width: 900px) {
  .widget-container .header-logos .dfci-header-link,
  .widget-container .header-logos .coh-header-link {
    width: 100%;
    margin-right: 0;
  }
  .widget-container .header-logos li {
    width: 40%;
    margin-right: 15px;
  }
  .presentation-page .slider-wrapper {
    width: 100%;
    margin: 0 auto;
  }
}

@media (max-width: 800px) {
  #branding {
    height: auto !important;
  }
  .slider-text-container {
    display: none;
  }
  #front-columns > div, #front-columns > li {
    width: 96.75% !important;
  }
  #nav-toggle {
    display: block;
    float: left;
    margin: 0 auto;
    width: 100%;
    height: 44px;
    padding: 0 4%;
    cursor: pointer;
    span::before {
      content: "\e820";
      font-family: "elusive";
      font-size: 16px;
      display: block;
      line-height: 40px;
    }
  }
  #access {
    display: none;
    margin-top: 0;
    padding-bottom: 5px;
    .menu ul, .menu ul li {
      width: 100%;
    }
  }
  .widget-container .header-logos ul {
    display: block;
    width: 300px;
    margin: 0 auto;
  }
  .searchform {
    margin: 0 auto;
  }
  .footerfour {
    display: block;
    .widget-area {
      margin: 10px 0;
    }
  }
}

@media (max-width: 640px) {
  .entry-content {
    margin: 0 10px;
  }
  #content h1.entry-title {
    padding: 10px 30px;
    margin-right: 0;
  }
}
